@charset "utf-8";

/*ui-checkbox 单选样式，可根据实际项目需求进行调整*/

input.ui-checkbox { margin: 0; margin-right: -18px; position: relative; filter: alpha(opacity=0); opacity: 0; display: inline-block; height: 18px; width: 18px; vertical-align: text-bottom; }
span.ui-checkbox { display: inline-block; border: 1px solid #aaa; background-color: #fff; height: 16px; width: 16px; border-radius: 2px; vertical-align: text-bottom; cursor: pointer; outline: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; overflow: hidden; }
input.ui-checkbox:checked+span.ui-checkbox { border-color: #25AB5E; background: transparent url(ui-checkbox.png) -1px -31px; }
input.ui-checkbox:disabled + span.ui-checkbox { filter: alpha(opacity=60); opacity: .6; cursor: not-allowed; }
span.ui-checkbox.on, span.ui-checkbox.off { height: 20px; width: 20px; border: none; background: transparent url(ui-checkbox.png) 0 0; }
span.ui-checkbox.on { background-position: 0 -30px; }
span.ui-checkbox.disabled { filter: alpha(opacity=60); cursor: not-allowed; }


label.ui-label { display: inline-block; cursor: pointer; line-height: 34px; height: 34px; border-radius: 4px; padding: 0 10px 0 0; margin-right: 10px; vertical-align: top; }
label.ui-label:hover { color: #111; background-color: #F8F9FA; }
